[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
black = "==18.06b"
env-spec = {editable = true, path = "."}
flask = "*"

[requires]
python_version = "3.7"
